@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Overpass:400,400i,600,800|Raleway:400,400i,600,700");

.App {
	margin: 0;
	font-family: Overpass, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: Raleway, Helvetica, Arial, sans-serif !important;
}

h6 {
	font-weight: 600 !important;
	font-size: 16px !important;
}

h2 {
	color: #154b9c;
	font-size: 2rem;
	margin-top: 0;
	padding-top: 3rem;
}

h3 {
	font-size: 1.5rem;
}

.marginTop {
  margin-top: 2rem;
}


/* .paddingTop {
} */

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.center {
  text-align: center;
}

footer .fab {
  color: #13bcd4;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}