@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  margin: 0;
}

.marginY {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}